<h1>{{titulo}}</h1>

<form [formGroup]="cidadeForm" novalidate>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome da Cidade" formControlName="nome" />
    </div>

    <button type="submit" class="btn btn-primary" (click)="salvar(cidadeForm.value)">Salvar</button>
    <button [routerLink]="['/cidade']" class="btn btn-default">Voltar</button>

</form>