<h1>{{titulo}}</h1>

<form [formGroup]="pontoTuristicoForm" novalidate>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome do ponto turístico" formControlName="nome" />
    </div>
  <div class="form-group">
    <label for="categoriaTuristica">Categoria</label>
    <select class="form-control" formControlName="categoriaTuristica" [compareWith]="compararFn">
      <option *ngFor="let categoriaTuristica of categoriaTuristicas" [ngValue]="categoriaTuristica">{{categoriaTuristica.nome}}</option>
    </select>
  </div>
    <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" placeholder="Latitude do ponto turístico" formControlName="latitude" />
    </div>
    <div class="form-group">
        <label for="latitude">Longitude</label>
        <input type="text" class="form-control" id="longitude" placeholder="Longitude do ponto turístico" formControlName="longitude" />
    </div>
    <div class="form-group">
        <label for="descricao">Descricao</label>
        <textarea class="form-control" id="descricao" placeholder="Descrição do ponto turístico" formControlName="descricao" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="salvar(pontoTuristicoForm.value)">Salvar</button>
    <button [routerLink]="['/pontoTuristico']" class="btn btn-default">Voltar</button>

</form>
