<h1>{{titulo}}</h1>

<form [formGroup]="usuarioForm" novalidate>
  <div class="form-group">
    <label for="pessoa">Pessoa</label>
    <select class="form-control" formControlName="pessoa" [compareWith]="compararFn">
      <option *ngFor="let pessoa of pessoas" [ngValue]="pessoa">{{pessoa.nome}}</option>
    </select>
  </div>
    <div class="form-group">
        <label for="nomeUsuario">Nome de acesso</label>
        <input type="text" class="form-control" id="nomeUsuario" placeholder="Nome de acesso" formControlName="nomeUsuario" />
    </div>
    <div class="form-group">
        <label for="permissao">Perfil de acesso</label>
        <select class="form-control" formControlName="permissao" id="permissao">
            <option value="admin">Administrador</option>
            <option value="user">Usuário</option>
       </select>
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Senha de acesso" formControlName="senha" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="salvar(usuarioForm.value)">Salvar</button>
    <button [routerLink]="['/usuario']" class="btn btn-default">Voltar</button>

</form>
