<div class="col-4">
  <form [formGroup]="loginForm">

    <div class="form-group">
      <input type="text" class="form-control" id="inputEmail" placeholder="Nome de usuário" formControlName="username">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="Senha" formControlName="password">
    </div>

    <button class="btn btn-primary" (click)="login(loginForm.value)" >Login</button>

  </form>
</div>
