<h1>Lista de Cidades</h1>

<button type="button" class="btn btn-primary" [routerLink]="['/cidade/novo']">Adicionar Cidade</button>

<table class="table" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cidade of cidades">
            <td>{{cidade.id}}</td>
            <td>{{cidade.nome}}</td>
            <td>
                <a [routerLink]="['/cidade/alterar',cidade.id]" >Alterar</a> | 
                <button (click)="excluir(cidade.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>