<h1>Lista de Usuários</h1>

<button type="button" class="btn btn-primary" [routerLink]="['/usuario/novo']">Adicionar Usuário</button>

<table class="table" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nomeUsuario}}</td>
            <td>{{usuario.permissao}}</td>
            <td>
                <a [routerLink]="['/usuario/alterar',usuario.id]" >Alterar</a> |
                <button (click)="excluir(usuario.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
