<h1>Lista de Pessoas</h1>

<button type="button" class="btn btn-primary" [routerLink]="['/pessoa/novo']">Adicionar Pessoa</button>

<table class="table" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <td>{{pessoa.id}}</td>
            <td>{{pessoa.nome}}</td>
            <td>
                <a [routerLink]="['/pessoa/alterar',pessoa.id]" >Alterar</a> |
                <button (click)="excluir(pessoa.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>