<h1>{{titulo}}</h1>

<form [formGroup]="pessoaForm" novalidate>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome da pessoa" formControlName="nome" />
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Senha" formControlName="senha" />
    </div>

    <button type="submit" class="btn btn-primary" (click)="salvar(pessoaForm.value)">Salvar</button>
    <button [routerLink]="['/pessoa']" class="btn btn-default">Voltar</button>

</form>