/* TOPO */
.topo {

    margin: 30px 0px;
}
.logo{
    width: 180px;
}


/* MENU HORIZONTAL */
.menu-horizontal{
    padding: 5px 0px;
    background-color: #3D3D3D;
    border-radius: 10px;
    margin: 0;
}
.menu-horizontal a {
    text-transform: uppercase;
    color: #FFFFFF;
}

/* MEIO */
.meio{
    margin: 10px 0 ;
}


/* MENU VERTICAL */
.menu-vertical{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
}

.menu-vertical a {
    text-transform: uppercase;
}

.menu-vertical .item-info{
    font-weight: bold;
}


/*RODAPE*/
.rodape p {
    text-align: center;
}