<div class="container">

    <!-- TOPO -->
    <div class="row topo">
        <div class="col">
            <img class="logo" src="assets/imagens/omelhordocerrado.jpg" />
        </div>
    </div>

    <!-- MENU HORIZONTAL -->
    <div class="row menu-horizontal">
        <div class="col-12">

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Inicio</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['login']">Sair</a>
              </li>
            </ul>

        </div>
    </div>

    <!-- MEIO -->
    <div class="row meio">

        <!-- MENU VERTICAL -->
        <div class="col-3 menu-vertical">
            <ul class="nav flex-column">
                <li class="nav-item item-info">
                    Gerenciar
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['cidade']">Cidades</a>
                    <a class="nav-link" [routerLink]="['pessoa']">Pessoas</a>
                    <a class="nav-link" [routerLink]="['usuario']">Usuários</a>
                    <a class="nav-link" [routerLink]="['pontoTuristico']">Ponto Turístico</a>
                    <a class="nav-link" [routerLink]="['categoriaTuristica']">Categoria Turística</a>
                </li>
            </ul>

        </div>

        <!-- CONTEUDO -->
        <div class="col-9">

            <!-- start: page -->
            <router-outlet></router-outlet>
            <!-- end: page -->

        </div>
    </div>

    <!-- RODAPE -->
    <div class="row">
        <div class="col rodape">
            <p class="text-left"> O melhor do cerrado &#174; Direitos Reservados </p>
        </div>
    </div>

</div>
<p-toast></p-toast>
