<h1>{{titulo}}</h1>

<form [formGroup]="categoriaTuristicaForm" novalidate>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome da categoria" formControlName="nome" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="salvar(categoriaTuristicaForm.value)">Salvar</button>
    <button [routerLink]="['/categoriaTuristica']" class="btn btn-default">Voltar</button>

</form>