<h1>Lista de Ponto Turisticos</h1>

<button type="button" class="btn btn-primary" [routerLink]="['/pontoTuristico/novo']">Adicionar Ponto Turístico</button>

<table class="table" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pontoTuristico of pontoTuristicos">
            <td>{{pontoTuristico.id}}</td>
            <td>{{pontoTuristico.nome}}</td>
            <td>{{pontoTuristico.descricao}}</td>
            <td>
                <a [routerLink]="['/pontoTuristico/alterar',pontoTuristico.id]" >Alterar</a> |
                <button (click)="excluir(pontoTuristico.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>