<h1>Lista de Categoria Turisticas</h1>

<button type="button" class="btn btn-primary" [routerLink]="['/categoriaTuristica/novo']">Adicionar Categoria Turística</button>

<table class="table" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoriaTuristica of categoriaTuristicas">
            <td>{{categoriaTuristica.id}}</td>
            <td>{{categoriaTuristica.nome}}</td>
            <td>
                <a [routerLink]="['/categoriaTuristica/alterar',categoriaTuristica.id]" >Alterar</a> |
                <button (click)="excluir(categoriaTuristica.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>